@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --biru-tua: #1E2266;
  --biru-muda: #29339B;
  --biru-sangat-muda: #4285F4;
  --abu-charcoal: #1F2124;
  --abu-gelap: #1F2937;
  --abu-mid: #4B5563;
  --abu-semi-mid: #989a9c;
  --abu-terang: #D5D8DC;
  --abu-muda: #ddd;
  --coklat: rgba(172, 60, 8, 0.75);
  --kuning: #EAC435;
  --merah: #FF0000;
  --putih-biru: #F8FAFC;
  --putih: #FFF;
  --font-judul: "Montserrat", sans-serif;
  --font-isi: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}