.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: Poppins;
  font-weight: normal;
  color: white;
}

.input {
  border: none;
  background-color: transparent;
  font-family: Poppins;
  color: white;
}

.input::placeholder {
  color: white;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
